[Unit]
Description=Makefile start service
After=network.target git-pull.service

[Service]
User=myusername
WorkingDirectory=/home/pi/git/homepage
ExecStart=/usr/bin/make start
Restart=always

[Install]
WantedBy=default.target
