[Unit]
Description=After boot
After=network.target
StartLimitIntervalSec=300
StartLimitBurst=3

[Service]
Type=oneshot
WorkingDirectory=/home/pi/git/homepage
ExecStart=/usr/bin/make after-boot
Restart=on-failure
RestartSec=300 # Wait 5 minutes between retries

[Install]
WantedBy=default.target
